* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    min-height: 100vh;
    background: linear-gradient( #2b1055, #7597de );
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30xp 100xp;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px  15px;
    color: #fff;

}

header ul li a:hover
{
background: #fff;
color: #2b1055;
}

